@import 'utilities';
@import '~bulma';
@import 'overrides';

html {
    height: 100%;
}

body {
    min-height: 100%;
}

#site-nav {
    padding: 1rem 0;
}

.navbar {
    border: none;

    .navbar-item {
        display: flex;
        align-items: center;
    }

    .buttons {
        display: block;

    }
}

.container {
    padding: 1rem;
}

.movie-list {
    .movie:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.logo {
    display: block;
    height: 25px;
    width: auto;
    margin: 0 0.5rem 0 1rem;
}

.app-title {
    font-size: 2rem;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    main {
        flex: 1 1 auto;
        width: 100%;
    }
}

#site-nav, #site-footer {
    flex: 0 0 auto;
    width: 100%;
}


#site-footer {
    background: darken($body-background-color, 2%);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    font-size: 0.9em;
    color: $white-ter;
}

.globe {
    border-radius: 100%;
    width: 100px;
    height: auto;
    margin: 1rem;
}

.tos {
    height: 75px;
    overflow-y: scroll;

    p:not(:last-child) {
        margin-bottom: 1em;
    }
}
