@import 'variables';
@import '~bootstrap/scss/bootstrap';

.navbar {
    padding: 0.5rem;

    .navbar-brand {
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding: 0;

        .app-name {
            display: block;
            margin: 0;
            margin-left: 0.5rem;
        }

        img {
            display: block;
        }
    }

    &.navbar-transparent {
        background-color: transparent;
        box-shadow: none;
    }
}

.movie-list {
    .movie:not(:last-child) {
        margin-bottom: 1rem;
    }
}
