@import 'utilities';
@import '~bulma';
@import 'overrides';

html {
    height: 100%;
}

body {
    min-height: 100%;
}

#site-nav {
    padding: 1rem 0;
}

.navbar {
    border: none;

    .navbar-item {
        display: flex;
        align-items: center;
    }

    .buttons {
        display: block;

    }
}

.container {
    padding: 1rem;
}

.movie-list {
    .movie:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.logo {
    display: block;
    height: 25px;
    width: auto;
    margin: 0 0.5rem 0 1rem;
}

.app-title {
    font-size: 2rem;
}
