@import 'variables';
@import '~bootstrap/scss/bootstrap';

.navbar {
    .navbar-brand {
        font-size: 2rem;
        font-weight: bold;

        img {
            display: inline-block;
            align-content: center;
        }
    }
}

.movie-list {
    .movie:not(:last-child) {
        margin-bottom: 1rem;
    }
}
